@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

textarea {
  resize: none;
}

.container {
  @apply max-w-[85rem] mx-auto;
}

.nft-shadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
